$reset-margin: 0px;
$global-font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
h1,
h2,
h3,
p {
  font-family: $global-font-family;
  margin: $reset-margin;
}

h2 {
  color: #b1c381;
  margin: 5px 0px 5px 0px;
}
.card {
  padding: 25px;
  background-color: #fff7d4;
  border-radius: 20px;
  margin: 13px 0px 13px 0px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);

  .text-sm {
    font-size: small;
  }
  .my-bolder {
    font-weight: bolder;
  }
}

@mixin margin($property, $value) {
  #{$property}: $value;
}

@for $i from 1 through 25 {
  .mt-#{$i} {
    @include margin(margin-top, $i * 2px);
  }
  .mb-#{$i} {
    @include margin(margin-bottom, $i * 2px);
  }
  .ml-#{$i} {
    @include margin(margin-left, $i * 2px);
  }
  .mr-#{$i} {
    @include margin(margin-right, $i * 2px);
  }
}
