<div class="mr-10 ml-10 mt-10 mb-10">
  <h1 class="text-center text-blue my-bolder mt-5">
    {{nowDate}}
  </h1>
  <p class="text-center my-bolder text-blue-gray">{{nowDay}}</p>
  <div class="mt-15">
    <app-button text="Add Activity" styleClass="my-caramel mb-5" (onClick)="openModal()"></app-button>

    <app-card *ngFor="let data of dataTodo; let i = index" [day]="data.day" [clock]="data.clock" [leading]="data.title" (remove)="removeData(i)"
      [desc]="data.description"></app-card>
    <app-modal *ngIf="isModalOpen" (closeModal)="closeModal()" (onSubmit)="addData($event)"></app-modal>

  </div>
</div>
